.slide_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: rgb(196, 196, 196);
  background-color: none;
  .caption_wrapper {
    position: absolute;
    text-align: center;
    margin-top: 19rem;
    h1 {
      font-size: 4rem;
      margin: 1.25rem;
    }
    p {
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 550;
    }
    button {
      margin-top: 16rem;
      width: 23rem;
      height: 6rem;
      font-weight: 600;
      background: none;
      font-size: 1.4rem;
      color: rgb(196, 196, 196);
      border: 1px solid rgb(196, 196, 196);
    }
  }
}
video {
  object-fit: cover;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
}
