.nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 11rem;
  position: fixed;
  padding: 1.25rem 30px;
  background-color: black;

  svg {
    color: whitesmoke;
    width: 2rem;
    height: 2rem;
    margin-top: 1.25rem;
    opacity: 1;
  }
  img {
    width: 11rem;
  }
}
