@import '../../index.scss';

.signup_container {
  width: 100%;
  height: 100vh;
  background-color: $col_brown;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background-color: $col_dark_beige;
    margin-top: 8rem;
    width: 50%;
    height: 70%;
    border-radius: 1rem;
    .signup_input_wrapper {
      width: 75%;
    }
    .signup_title_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 2rem;
        color: $col_lt_beige;
      }
    }
    .signup_input_field {
      border-bottom: 1px solid $col_lt_beige;
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 1rem 0.5rem;
      margin-bottom: 0.5rem;
      font-family: 'NanumBarunGothic', sans-serif;
      font-size: 1rem;
      color: $col_brown;
      border-bottom: 1px solid $col_lt_beige;
    }

    .signup_input_field_invalid {
      color: orangered;
      border-bottom: 1px solid orangered;
    }

    ::placeholder {
      color: $col_lt_beige;
    }
    input:focus {
      border-bottom: 1px solid $col_brown;
    }

    input:focus::placeholder {
      color: transparent;
    }
  }
  .invalid_note {
    color: orangered;
  }
}
